<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prongbang.thirdparty_keyboard_checker">
    <uses-permission android:name="android.permission.BIND_INPUT_METHOD"
        tools:ignore="ProtectedPermissions" />
</manifest>
